$spotify-green: #1db954;
$spotify-dark: #191414;

$pure-white: #fff;
$pure-black: #000;

$dark: #222222;
$lighten-dark: lighten($dark, 15);

$light: #fafafa;
$lighten-light: lighten($light, 15);

$red: #df4759;
